<patTemplate:tmpl name="patUserUnauthorized">
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<title>patUser - Unauthorized Template</title>
<style type="text/css">
TD			{font-family: Verdana, sans-serif; font-size: 11px; }
INPUT		{font-family: Verdana, sans-serif; font-size: 11px; }
</style>

</head>

<body bgcolor="#FFFFFF" text="#000000" link="#cc0000" alink="#cc0000" vink="#cc0000">
	<table border="0" cellpadding="0" cellspacing="2">
		<tr>
			<td colspan="2">
				<h4>{PATUSER_REALM}</h4>
				<b>You tried to login {PATUSER_LOGINATTEMPTS} times. Please contact the system administrator.</b>
			</td>
		</tr>
	</table>
</body>
</html>
</patTemplate:tmpl>
